    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>更多信息</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>鸣谢</h3>
                        <p>Ameba Stack 构建在众多优秀的开源类库之上，在此感谢这些类库付出的努力和贡献。
                            <a href="https://jersey.java.net">Jersey</a>、
                            <a href="https://grizzly.java.net">Grizzly</a>、
                            <a href="//httl.github.io">HTTL</a>、
                            <a href="https://github.com/alibaba/druid">Druid</a>、
                            <a href="https://github.com/ebean-orm/avaje-ebeanorm">EbeanORM</a>、
                            <a href="https://code.google.com/p/guava-libraries">Guava</a>、
                            <a href="//maven.apache.org">Maven</a>、
                            <a href="//logback.qos.ch">Logback</a>、
                            <a href="https://github.com/FasterXML/jackson">Jackson</a> 等。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.title }} 20{{ site.time | date: '%y' }}
                    </div>
                    <div class="col-lg-12">
                        Ameba Stack is Open Source and available under the MIT License.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
