<section id="guides">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>快速开始</h2>
                <hr class="star-primary">
            </div>

            <div class="row">
                <h4>1. 下载 Ameba Stack</h4>
            </div>

            <div class="row">
                <h4>2. 执行命令什么的</h4>
            {% highlight bash %}
好吧，还什么都没写，慢慢来
好吧，还什么都没写，慢慢来
好吧，还什么都没写，慢慢来
好吧，还什么都没写，慢慢来
好吧，还什么都没写，慢慢来
好吧，还什么都没写，慢慢来
            {% endhighlight %}
            </div>
            <div class="row">
                <h4>3. 然后...</h4>

            </div>
        </div>
     </div>
</section>